

body {
    margin-top: 25%;
}

.row {
 display: flex;
 font-size: 0px; 
 text-align: center;
 
}

.cell { 
 width: 20px;
 height: 20px;
 margin: 2px;
 border: 1px solid black;
 
}

.cell, .row {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

